/* 0 - 600px: phone,
600 - 900px> tablet portranit,
900 - 1200px: tablet landscape,
1200px > > : large screen width
*/
.container {
  max-width: 130rem;
  margin: 0 auto; }
  @media (max-width: 80em) {
    .container {
      padding: 0 1.5rem; } }

.move-up:hover {
  margin-top: -0.5rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer; }

.move-right:hover {
  margin-left: 0.5rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer; }

.text-center {
  text-align: center !important; }

html {
  font-size: 62.5%; }
  @media (min-width: 80em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 80em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 65em) {
    html {
      font-size: 46.88%; } }
  @media (max-width: 49em) {
    html {
      font-size: 43.75%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  line-height: inherit;
  color: #6b6b6b;
  background: #ffffff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::selection {
  color: #ffffff;
  background-color: #1BA8F1; }

/** HEADER **/
#header {
  border-bottom: 1px solid #eeeeee;
  padding: 4rem 0 2.5rem 0;
  margin-bottom: 4rem; }
  #header .header-wrapper {
    width: 90vw;
    margin: 0 auto; }

/** MAIN **/
#main {
  min-height: 90vh;
  padding: 12rem 0 4rem;
  /** TABLE **/ }
  @media (max-width: 65em) {
    #main {
      min-height: auto; } }
  #main #table-article {
    position: relative;
    z-index: 10;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #eeeeee;
    /** TABLE HEAD **/
    /** TABLE BODY **/
    /** TABLE FOOTER **/ }
    @media (max-width: 37.5em) {
      #main #table-article {
        display: flex;
        flex-direction: row;
        margin-top: 10rem; } }
    #main #table-article tr {
      border: 1px solid #eeeeee;
      border-bottom: none; }
    #main #table-article td {
      vertical-align: middle;
      text-align: left;
      padding: 0 1rem;
      height: 4.5rem; }
    #main #table-article caption {
      position: absolute;
      z-index: 12;
      padding: 1rem 0;
      padding: 0.5rem 1.5rem;
      background: #faec32;
      left: -0.5rem;
      top: 1.5rem;
      font-weight: bold;
      color: #0f0f0f; }
      @media (max-width: 37.5em) {
        #main #table-article caption {
          top: -8.7rem; } }
    @media (max-width: 37.5em) {
      #main #table-article #table-article__head tr:nth-child(1) {
        position: absolute;
        z-index: 15;
        top: -4.7rem;
        width: 100%;
        border: none; } }
    #main #table-article #table-article__head tr:nth-child(1) th {
      border-bottom: 0.5rem; }
      @media (max-width: 37.5em) {
        #main #table-article #table-article__head tr:nth-child(1) th {
          padding: 0;
          border: none;
          display: table-row-group; } }
    #main #table-article #table-article__head tr:nth-child(2) {
      border-top: none !important; }
      @media (max-width: 37.5em) {
        #main #table-article #table-article__head tr:nth-child(2) {
          display: flex;
          flex-direction: column;
          border: none;
          background-color: #fafafa; } }
    #main #table-article #table-article__head th {
      padding: 0 0.9rem 0.5rem;
      text-align: left;
      vertical-align: bottom;
      height: 5rem;
      font-weight: normal; }
      @media (max-width: 65em) {
        #main #table-article #table-article__head th {
          text-align: center; } }
  @media (max-width: 65em) and (max-width: 37.5em) {
    #main #table-article #table-article__head th {
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      text-align: left;
      width: 13rem;
      font-weight: bold;
      height: 5rem;
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 0;
      align-items: center; } }
      #main #table-article #table-article__head th span.th-item {
        float: left;
        margin-top: 0.8rem; }
        @media (max-width: 65em) {
          #main #table-article #table-article__head th span.th-item {
            float: none; } }
        @media (max-width: 37.5em) {
          #main #table-article #table-article__head th span.th-item {
            float: left; } }
      #main #table-article #table-article__head th span.sort {
        float: right;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        @media (max-width: 65em) {
          #main #table-article #table-article__head th span.sort {
            float: none; } }
        #main #table-article #table-article__head th span.sort .fa {
          line-height: 0.2;
          color: #b3b3b3; }
          @media (max-width: 65em) {
            #main #table-article #table-article__head th span.sort .fa {
              font-size: 1.8rem;
              line-height: 0.5rem; } }
          #main #table-article #table-article__head th span.sort .fa:hover {
            color: #0f0f0f; }
        #main #table-article #table-article__head th span.sort .active {
          color: #0f0f0f !important;
          cursor: not-allowed;
          pointer-events: none; }
        #main #table-article #table-article__head th span.sort .sort__asc {
          padding: 0 0.5rem 1.5rem; }
        #main #table-article #table-article__head th span.sort .sort__desc {
          padding: 1.5rem 0.5rem 0; }
    #main #table-article #table-article__head a.link-create-article {
      display: inline-block;
      text-decoration: underline;
      color: #0f0f0f !important;
      text-decoration: none;
      padding: 0.5rem;
      margin-left: 10rem;
      font-size: 1.6rem;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s; }
      @media (max-width: 65em) {
        #main #table-article #table-article__head a.link-create-article {
          margin: 0; } }
      #main #table-article #table-article__head a.link-create-article i.fa {
        color: #0f0f0f; }
      #main #table-article #table-article__head a.link-create-article span {
        text-decoration: underline;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s; }
      #main #table-article #table-article__head a.link-create-article:hover {
        margin-left: 10.7rem; }
        #main #table-article #table-article__head a.link-create-article:hover span {
          color: #1BA8F1;
          margin-top: -0.3rem; }
    #main #table-article #table-article__body {
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s; }
      @media (max-width: 37.5em) {
        #main #table-article #table-article__body {
          display: flex;
          flex-direction: row; } }
      @media (max-width: 37.5em) {
        #main #table-article #table-article__body tr {
          display: flex;
          flex-direction: column;
          border: none; } }
      #main #table-article #table-article__body tr:nth-child(even) {
        background-color: #fafafa; }
        @media (max-width: 37.5em) {
          #main #table-article #table-article__body tr:nth-child(even) {
            background-color: #ffffff; } }
      @media (max-width: 37.5em) {
        #main #table-article #table-article__body td {
          height: 5rem;
          border-bottom: 1px solid #eeeeee;
          display: flex;
          align-items: center; } }
      #main #table-article #table-article__body td:nth-child(5),
      #main #table-article #table-article__body td:nth-child(6),
      #main #table-article #table-article__body td:nth-child(7),
      #main #table-article #table-article__body td:nth-child(8),
      #main #table-article #table-article__body td:nth-child(9) {
        text-align: center; }
        @media (max-width: 37.5em) {
          #main #table-article #table-article__body td:nth-child(5),
          #main #table-article #table-article__body td:nth-child(6),
          #main #table-article #table-article__body td:nth-child(7),
          #main #table-article #table-article__body td:nth-child(8),
          #main #table-article #table-article__body td:nth-child(9) {
            text-align: left; } }
      #main #table-article #table-article__body a.link-article {
        text-decoration: underline;
        color: #1BA8F1;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s; }
        #main #table-article #table-article__body a.link-article:hover {
          color: #6b6b6b; }
        @media (max-width: 37.5em) {
          #main #table-article #table-article__body a.link-article {
            text-decoration: none; } }
    @media (max-width: 37.5em) {
      #main #table-article #table-article__foot {
        position: absolute;
        z-index: 19;
        top: -4.3rem;
        right: 0rem; } }
    @media (max-width: 37.5em) {
      #main #table-article #table-article__foot tr {
        border: none; } }
    #main #table-article #table-article__foot td {
      height: 7rem;
      vertical-align: middle; }
      @media (max-width: 37.5em) {
        #main #table-article #table-article__foot td {
          height: auto; } }
    #main #table-article #table-article__foot .btn-load-more {
      text-decoration: underline;
      color: #1BA8F1;
      margin-left: 1.5rem;
      border: none;
      background-color: #ffffff;
      cursor: pointer;
      outline: none;
      font-size: inherit;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s; }
      #main #table-article #table-article__foot .btn-load-more:hover {
        color: #6b6b6b;
        margin-left: 1.7rem; }
    #main #table-article #table-article__foot .loaded-article-number,
    #main #table-article #table-article__foot .total-article-number {
      display: inline-block;
      margin: 0 1rem;
      color: #1BA8F1; }

/** POPUP BOX:: ARTICLE ENTRY FORM **/
#popup-overlay {
  position: fixed;
  z-index: 15;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  top: -150%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }
  #popup-overlay .popup-box {
    position: relative;
    z-index: 16;
    width: 40%;
    left: 50%;
    top: 50%;
    overflow: hidden;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.5rem #6b6b6b;
    -webkit-box-shadow: 0 0.1rem 0.5rem #6b6b6b; }
    @media (max-width: 65em) {
      #popup-overlay .popup-box {
        width: 53%; } }
    @media (max-width: 37.5em) {
      #popup-overlay .popup-box {
        width: 85%; } }
  #popup-overlay span.popup-close {
    position: absolute;
    z-index: 18;
    right: 1.3rem;
    top: 1.2rem;
    height: 2.8rem;
    width: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    background-color: #ff6b6b;
    color: #eeeeee;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s; }
  #popup-overlay .submit-message-box {
    position: absolute;
    z-index: 18;
    bottom: 9rem;
    text-align: center;
    left: 3%; }
    #popup-overlay .submit-message-box .submit-message {
      border: 1px solid #00b285;
      color: #ff6b6b;
      padding: 0.5rem 1.5rem; }
  #popup-overlay #submit-article fieldset {
    border: none;
    padding-bottom: 2.5rem; }
  #popup-overlay #submit-article legend {
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.8rem;
    background-color: #eeeeee;
    color: #0f0f0f; }
  #popup-overlay #submit-article .form-group {
    padding: 1rem 2rem;
    margin-bottom: 1.5re;
    color: #0f0f0f; }
    #popup-overlay #submit-article .form-group label {
      display: inline-block;
      margin-bottom: 0.5rem;
      width: 100%; }
    #popup-overlay #submit-article .form-group input {
      padding: 0.5rem 1.5rem;
      font-size: 1.6rem !important;
      line-height: 1.6rem;
      outline-color: #1BA8F1;
      font-family: inherit !important;
      line-height: 2.8rem; }
      #popup-overlay #submit-article .form-group input[type="text"] {
        width: 100%; }
    #popup-overlay #submit-article .form-group input,
    #popup-overlay #submit-article .form-group select {
      border: 1px solid #eeeeee;
      outline: none;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s; }
      #popup-overlay #submit-article .form-group input:focus, #popup-overlay #submit-article .form-group input:hover,
      #popup-overlay #submit-article .form-group select:focus,
      #popup-overlay #submit-article .form-group select:hover {
        border-color: #1BA8F1; }
    #popup-overlay #submit-article .form-group select {
      padding: 1.1rem 1.5rem;
      font-size: 1.6rem !important;
      line-height: 1.6rem;
      outline-color: #1BA8F1;
      font-family: inherit !important;
      line-height: 2.8rem;
      width: 100%; }
  #popup-overlay #submit-article .form-group--lists {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    justify-content: center; }
    #popup-overlay #submit-article .form-group--lists .input-group {
      margin-bottom: 1.5rem;
      display: inline-block;
      text-align: left;
      width: 15%; }
      @media (max-width: 65em) {
        #popup-overlay #submit-article .form-group--lists .input-group {
          width: 30%; } }
      @media (max-width: 37.5em) {
        #popup-overlay #submit-article .form-group--lists .input-group {
          width: 38%; } }
    #popup-overlay #submit-article .form-group--lists input {
      width: 97%; }
  #popup-overlay #submit-article button.form-group__btn-submit {
    background-color: #00b285;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s; }
    #popup-overlay #submit-article button.form-group__btn-submit:hover {
      opacity: 0.8; }
  #popup-overlay #submit-article a.form-group__btn-cancel {
    color: #6b6b6b;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    margin-left: 1rem; }
    #popup-overlay #submit-article a.form-group__btn-cancel:hover {
      color: #1BA8F1; }

/** PAGE FOOTER **/
#footer {
  padding: 3rem 0;
  border-top: 1px solid #eeeeee;
  text-align: center;
  font-size: 1.8rem;
  background-color: #fafafa; }
  @media (max-width: 65em) {
    #footer {
      display: none; } }
