//HEADER
#header {
  border-bottom: 1px solid $color-grey--primary;
  padding: 4rem 0 2.5rem 0;
  margin-bottom: 4rem;

  .header-wrapper {
    width: 90vw;
    margin: 0 auto;
  }
}

// MAIN
#main {
  min-height: 90vh;

  @include respond-mediaQuery(ipad-pro) {
    min-height: auto;
  }

  //**************************** TABLE ******/
  /** TABLE **/
  table#table-article {
    position: relative;
    z-index: 10;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $color-grey--primary;
    margin-top: 15rem;

    @include respond-mediaQuery(phone) {
      display: flex;
      flex-direction: row;
      margin-top: 10rem;
    }

    tr {
      border: 1px solid $color-grey--primary;
    }

    td {
      vertical-align: middle;
      text-align: left;
      padding: 0 1rem;
      height: 4.5rem;
    }

    caption {
      position: absolute;
      z-index: 12;
      padding: 1rem 0;
      padding: 0.5rem 1.5rem;
      background: $color-yellow;
      left: -0.5rem;
      top: 1.5rem;
      font-weight: bold;
      color: $color-black--primary;

      @include respond-mediaQuery(phone) {
        top: -8.7rem;
      }

    }

    /** TABLE HEAD **/
    #table-article__head {
      outline: none;

      tr:nth-child(1) {
        @include respond-mediaQuery(phone) {
          position: absolute;
          z-index: 15;
          top: -4.7rem;
          width: 100%;
          border: none;
        }

        th {
          border-bottom: 0.5rem;

          @include respond-mediaQuery(phone) {
            padding: 0;
            border: none;
            display: table-row-group;

          }

        }
      }

      tr:nth-child(2) {
        border-top: none !important;

        @include respond-mediaQuery(phone) {
          display: flex;
          flex-direction: column;
          border: none;
          background-color: $color-white--secondary;
        }
      }

      // th main
      th {
        padding: 0 0.9rem 1.2rem;
        text-align: left;
        vertical-align: bottom;
        height: 5rem;
        font-weight: normal;

        @include respond-mediaQuery(ipad) {
          text-align: center;

          @include respond-mediaQuery(phone) {
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
            text-align: left;
            width: 13rem;
            font-weight: bold;
            height: 5rem;
            border-bottom: 1px solid $color-grey--primary;
            padding-bottom: 0;
            align-items: center;
          }
        }


        span.th-item {
          float: left;
          margin-top: 0.8rem;

          @include respond-mediaQuery(ipad) {
            float: none;
          }

          @include respond-mediaQuery(phone) {
            float: left;
          }

        }

        span.sort {
          float: right;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          @include respond-mediaQuery(ipad) {
            float: none;
          }

          .fa {
            line-height: 0.2;
            color: $color-black--tertiary;

            @include respond-mediaQuery(ipad-pro) {
              font-size: 1.8rem;
              line-height: 0.5rem;
            }

            &:hover {
              color: $color-black--secondary;
            }
          }

          .sort__asc {
            padding: 1.5rem 0.5rem 0;
          }

          .sort__desc {
            padding: 0 0.5rem 1.5rem;
          }
        }
      }

      a.link-create-article {
        display: inline-block;
        text-decoration: underline;
        color: $color-black--primary !important;
        text-decoration: none;
        padding: 0.5rem;
        margin-left: 10rem;
        font-size: 1.6rem;
        @include transition-delay-sm;

        @include respond-mediaQuery(ipad) {
          margin: 0;
        }

        i.fa {
          color: $color-black--primary;
        }

        span {
          text-decoration: underline;
          @include transition-delay-sm;
        }

        &:hover {
          margin-left: 10.7rem;

          span {
            color: $color-blue;
            margin-top: -0.3rem;
          }
        }
      }
    }

    //End of thead

    /** TABLE BODY **/
    #table-article__body {
      outline: none;

      @include respond-mediaQuery(phone) {
        display: flex;
        flex-direction: row;
      }

      tr {
        @include respond-mediaQuery(phone) {
          display: flex;
          flex-direction: column;
          border: none;
        }
      }

      tr:nth-child(even) {
        background-color: $color-white--secondary;

        @include respond-mediaQuery(phone) {
          background-color: $color-white--primary;
        }
      }

      td {
        @include respond-mediaQuery(phone) {
          height: 5rem;
          border-bottom: 1px solid $color-grey--primary;
          display: flex;
          align-items: center;
        }
      }

      td:nth-child(5),
      td:nth-child(6),
      td:nth-child(7),
      td:nth-child(8),
      td:nth-child(9) {
        text-align: center;

        @include respond-mediaQuery(phone) {
          text-align: left;
        }
      }

      a.link-article {
        text-decoration: underline;
        color: $color-blue;
        @include transition-delay-sm;

        &:hover {
          color: $color-black--secondary
        }

        @include respond-mediaQuery(phone) {
          text-decoration: none;
        }
      }
    }

    // End of tbody

    /** TABLE FOOTER **/
    #table-article__foot {
      @include respond-mediaQuery(phone) {
        position: absolute;
        z-index: 19;
        top: -4.3rem;
        right: 0rem;
      }

      tr {
        @include respond-mediaQuery(phone) {
          border: none;
        }
      }

      td {
        height: 7rem;
        vertical-align: middle;

        @include respond-mediaQuery(phone) {
          height: auto;
        }
      }

      .btn-load-more {
        text-decoration: underline;
        color: $color-blue;
        margin-left: 1.5rem;
        border: none;
        background-color: $color-white--primary;
        cursor: pointer;
        outline: none;
        font-size: inherit;
        @include transition-delay-sm;

        &:hover {
          color: $color-black--secondary;
          margin-left: 1.7rem;
        }
      }

      .loaded-article-number,
      .total-article-number {
        display: inline-block;
        margin: 0 1rem;
        color: $color-blue;
      }
    }

    .total-article-number {}

    .loaded-article-number {}
  }

  // End of TABLE 
}


// End of MAIN

//Pou-up
//********************* popup-box--entry form********
#popup-overlay {
  position: fixed;
  z-index: 15;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  top: -150%;
  @include transition-delay-sm;

  .popup-box {
    position: relative;
    z-index: 16;
    width: 40%;
    left: 50%;
    top: 50%;
    overflow: hidden;
    background-color: $color-white--primary;
    @include transform-xy-minus50percent;
    @include border-radious-sm;
    @include box-shadow-sm;
  }

  span.popup-close {
    position: absolute;
    z-index: 18;
    right: 1.3rem;
    top: 1.2rem;
    height: 2.8rem;
    width: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    background-color: $color-red;
    color: $color-grey--primary;
    font-weight: bold;
    cursor: pointer;
    @include border-radious-sm;
    @include transition-delay-sm;
  }

  .submit-message-box {
    position: absolute;
    z-index: 18;
    bottom: 4rem;
    right: 4rem;
    text-align: center;

    .submit-message {
      border: 1px solid $color-green;
      color: $color-green;
      padding: 0.5rem 1.5rem;
    }
  }

  #submit-article {
    fieldset {
      border: none;
      padding-bottom: 2.5rem;
    }

    legend {
      padding: 1.5rem 2rem;
      margin-bottom: 1rem;
      width: 100%;
      font-size: 1.8rem;
      background-color: $color-grey--primary;
      color: $color-black--primary;
    }

    .form-group {
      padding: 1rem 2rem;
      margin-bottom: 1.5re;
      color: $color-black--primary;

      label {
        display: inline-block;
        margin-bottom: 0.5rem;
        width: 100%;
      }

      input {
        padding: 0.5rem 1.5rem;
        font-size: 1.6rem !important;
        line-height: 1.6rem;
        outline-color: $color-blue;
        font-family: inherit !important;
        line-height: 2.8rem;

        &[type="text"] {
          width: 100%;
        }
      }

      input,
      select {
        border: 1px solid $color-grey--primary;
        outline: none;
        @include transition-delay-sm;

        &:focus,
        &:hover {
          border-color: $color-blue;
        }
      }

      select {
        padding: 1.1rem 1.5rem;
        font-size: 1.6rem !important;
        line-height: 1.6rem;
        outline-color: $color-blue;
        font-family: inherit !important;
        line-height: 2.8rem;
        width: 100%;
      }
    }

    .form-group--lists {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 2rem;
      justify-content: center;

      .input-group {
        margin-bottom: 1.5rem;
        display: inline-block;
        text-align: left;
        width: 15%;

        @include respond-mediaQuery(ipad-pro) {
          width: 30%;
        }

        @include respond-mediaQuery(phone) {
          width: 38%;
        }

      }

      input {
        width: 97%;
      }
    }

    button.form-group__btn-submit {
      background-color: $color-green;
      color: $color-white--primary;
      border: none;
      padding: 1rem 1.5rem;
      cursor: pointer;
      @include transition-delay-sm;

      &:hover {
        opacity: 0.8;
      }
    }

    a.form-group__btn-cancel {
      color: $color-black--secondary;
      text-decoration: underline;
      cursor: pointer;
      @include transition-delay-sm;
      margin-left: 1rem;

      &:hover {
        color: $color-blue;
      }
    }
  }
}

//End of  popup-overlay

// Footer start
#footer {
  padding: 3rem 0;
  border-top: 1px solid $color-grey--primary;
  text-align: center;
  font-size: 1.8rem;
  background-color: $color-white--secondary;

  @include respond-mediaQuery(ipad-pro) {
    display: none;
  }
}