// Container
.container {
  max-width: 130rem;
  margin: 0 auto;

  @include respond-mediaQuery(ipad) {
    padding: 0 1.5rem;
  }
}

// Link
.move-up {
  &:hover {
    margin-top: -0.5rem;
    @include transition-delay-sm;
    cursor: pointer;
  }
}

.move-right {
  &:hover {
    margin-left: 0.5rem;
    @include transition-delay-sm;
    cursor: pointer;
  }
}

// Text align center
.text-center {
  text-align: center !important;
}