// Container
.container {
  width: 80vw;
  margin: 0 auto;
}

// Link
.move-up {
  &:hover {
    margin-top: -0.5rem;
    @include transition-delay-sm;
    cursor: pointer;
  }
}

.move-right {
  &:hover {
    margin-left: 0.5rem;
    @include transition-delay-sm;
    cursor: pointer;
  }
}

// Text align center
.text-center {
  text-align: center !important;
}