// COLORS
$color-white--primary:#ffffff;
$color-white--secondary:#fafafa;
$color-white--tertiary:#f2f2f2;

$color-black--primary:#0f0f0f;
$color-black--secondary:#6b6b6b;
$color-black--tertiary:#b3b3b3;


$color-red: #ff6b6b;

$color-green:#00b285;
$color-blue:#1BA8F1;

$color-yellow:#faec32;
$color-grey--primary:#eeeeee;
$color-grey--secondary:#ecedee;